.cards {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 20px;
  font-family: sans-serif;
}

.card {
  box-shadow: 0 0 3px rgba(0,0,0,0.1);

}

.card:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}

.card__image {
  width: 100%;
  display: block;
}

.title {
  text-align: center;
}

.card__content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background: #fafafa;
}

.card__content > p:first-of-type {
  margin-top: 0;

}

.card__content > p:last-of-type {
  margin-bottom: 0;
}

.card__info {
  /* padding: 15px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: #555555; */
  /* background: #eeeeee; */
  /* font-size: 0.8rem; */
  /* border-bottom: 2px solid #cccccc; */
}

.card__info i {
  font-size: 0.9rem;
  margin-right: 8px;
}

.card__link {
  color: #64968c;
  text-decoration: none;
}

.card__link:hover {
  text-decoration: underline;
}


.card-dese {
  display: block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 80px 8%;
  background-color: black;
  color: white;
  transition: 0.8s ease;
}

.card:hover .card-dese{
  opacity: 0.7;
  height: 60%;
}

.desc-title{
  font-size: 2rem;
  color: wheat;
}


.brand-gradient{
  background: #00ccff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00ccff, #00a347); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00ccff, #00a347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.vr{
  color: white;
}


.form-submit-button {
  /* display: none; */
  /* content: "submit"; */
  }

/* button:hover:before {
content: "Button after hover>>"
}
  
button:after {
content: "Button before hover"
}
  
button:hover:after {
content: "hello"
} */

button:active{
  background:#FFA500;
}

button:focus{
  background:#FFA500;
}

.stars{
  color: #FFA500;
}



/* CSS */
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}