<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">

    <title>MovieApp</title>
</head>
<body>
    <!-- <h2>You have logged out.</h2>
    <a th:href="@{/}">Sign in again</a> -->

    <section class="vh-100" style="background-image: url('images/9181.jpg')">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <h3 class="mb-5">Logged out successfully.</h3>
                  <h2 class="mb-5">See you again!</h2>
                  <a th:href="@{/}" class="btn btn-success">&nbsp;Sign in again</a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
</body>
</html>