<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="GET" action="/search/movie">
        <div>Search:<input type="text" name="query"></div>
        <!-- <div>Language:<input type="text" name="language"></div> -->
        <!-- <div>Year:<input type="text" name="year"></div> -->
        <!-- <div>Explicit:<input type="text" name="include_adult"></div> -->
        <button type="submit">submit</button>
    </form>

</body>
</html>