<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>My Watch List</h1>
        
        <div data-th-each="w: ${moviesToSave}">
            <table>
                <tr>
                    <td>
                        <a th:href="@{/mywatchlist/{id}(id = ${w.id})}">
                        <img data-th-src="@{https://image.tmdb.org/t/p/w300{poster_path}(poster_path=${w.poster_path})}" alt="">
                        </a>
                    </td>
                    <td>
                        <a>
                            <h3 data-th-text="${w.title}"></h3>
                        </a>

                        <p>Id: <code data-th-text="${w.id}"></code></p>

                        <p data-th-text="${w.overview}"></p>

                        <p> Published On: <i data-th-text="${w.release_date}"></i> </p>
                    </td>
                </tr>
            </table>    
        </div>
</body>
</html>